main > section.swipertop {
  width: 100%;
}

/* swiper Top start */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 85vh;
  object-fit: cover;
}

.swiper-slide imag.one {
  object-position: top;
}

.swiper-slide imag.seven {
  object-position: top right;
}

/* swiper Top end */
