@font-face {
  font-family: SABeginner;
  src: url(../../Fonts/eng/EduSABeginner-Regular.eot);
}
@font-face {
  font-family: SABeginner;
  src: url(../../Fonts/eng/EduSABeginner-Regular.ttf);
}
@font-face {
  font-family: SABeginner;
  src: url(../../Fonts/eng/EduSABeginner-Regular.woff);
}
@font-face {
  font-family: SABeginner;
  src: url(../../Fonts/eng/EduSABeginner-Regular.woff2);
}
