@font-face {
  font-family: bebas;
  src: url(../../Fonts/eng/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: bebas;
  src: url(../../Fonts/eng/BebasNeue-Regular.ttf.eot);
}
@font-face {
  font-family: bebas;
  src: url(../../Fonts/eng/BebasNeue-Regular.ttf.woff);
}
@font-face {
  font-family: bebas;
  src: url(../../Fonts/eng/BebasNeue-Regular.ttf.woff2);
}
