* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header start */

header {
  width: 100%;
  height: 90px;
  position: sticky;
  top: -90px;
  z-index: 2;
}

/* title start */
header > div.title {
  width: inherit;
  height: inherit;
}

header > div.title > h1 {
  font-size: 50px;
  text-transform: capitalize;
  height: inherit;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  box-sizing: border-box;
  text-align: justify center;
  font-family: bebas;
  padding: 5px;
}
/* title end */

/* header end */

/* background picture start */
div.first-N {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../../picture/q7.png);
}

div.first-N > h2 {
  color: rgb(255, 0, 0);
  padding: 90px;
  width: 5%;
  height: 5vh;
  text-align: left;
  font-family: bebas;
  text-transform: uppercase;
  font-size: 50px;
  font-style: italic;
  text-shadow: 5px 5px 5px brown;
}

div.first-N > p {
  color: rgb(199, 199, 199);
  margin: 40px auto;
  padding: 90px;
  background-color: rgba(0, 3, 46, 0.527);
  text-align: justify;
  font-family: bebas;
}
/* background picture end */

/* menu start */
header > nav {
  width: 100%;
  height: inherit;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

header > nav > ul {
  width: 100%;
  height: 60px;
  padding: 0%;
  list-style: none;
  background-color: #000000ad;
}

header > nav > ul > li {
  width: auto;
  height: 40px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 12px;
  border-radius: 5px;
  text-align: justify;
  font-family: bebas;
  text-decoration: none;
  font-size: medium;
  transition: 2s;
}

header > nav > ul > li:hover {
  background-color: #ffae00;
  transition-duration: 4ms;
  font-size: x-large;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* menu end */

/* article start */
section.background {
  background-color: rgb(0, 0, 0);
  margin: -5.5% auto;
}

div.art {
  width: 90%;
  height: 600px;
  display: inline-block;
  margin: 50px;
  padding: 10px;
  border-radius: 30px;
  background-image: url(/picture/1q.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  background-attachment: scroll;
  background-position: center;
  font-family: bebas;
  box-sizing: border-box;
  box-shadow: 8px 8px 15px rgb(255, 255, 255);
  direction: ltr;
}
div.scroll {
  width: 400px;
  height: 550px;
  margin: 10px;
  background-color: #00ff8091;
  display: block;
  overflow: scroll;
  border-radius: 30px;
  text-align: justify center;
  text-transform: capitalize;
  text-indent: 20px;
}

div.art2 {
  width: 90%;
  height: 600px;
  display: inline-block;
  margin: 50px;
  padding: 10px;
  border-radius: 30px;
  background-image: url(/picture/2q.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-attachment: scroll;
  background-position: center;
  font-family: bebas;
  box-sizing: border-box;
  box-shadow: 8px 8px 15px rgb(255, 255, 255);
  direction: rtl;
}

div.scroll2 {
  width: 400px;
  height: 550px;
  margin: 10px;
  background-color: #860900d5;
  display: block;
  overflow: scroll;
  border-radius: 30px;
  text-align: center;
  color: rgb(199, 199, 199);
  text-transform: capitalize;
}

div.art3 {
  width: 90%;
  height: 600px;
  margin: 50px;
  padding: 10px;
  display: inline-block;
  border-radius: 30px;
  background-image: url(/picture/4q.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  background-attachment: scroll;
  font-family: bebas;
  box-sizing: border-box;
  box-shadow: 8px 8px 15px rgb(255, 255, 255);
  direction: ltr;
  align-items: end;
}

div.scroll3 {
  width: 400px;
  height: 550px;
  margin: 10px;
  background-color: #666666c7;
  display: block;
  overflow: scroll;
  border-radius: 30px;
  text-align: justify center;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  text-indent: 20px;
}

div.art4 {
  width: 90%;
  height: 600px;
  margin: 50px;
  padding: 10px;
  display: inline-block;
  border-radius: 30px;
  background-image: url(/picture/3q.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-attachment: scroll;
  font-family: bebas;
  box-sizing: border-box;
  box-shadow: 8px 8px 15px rgb(255, 255, 255);
  direction: rtl;
  align-items: end;
}

div.scroll4 {
  width: 400px;
  height: 550px;
  margin: 10px;
  background-color: #000000c7;
  display: block;
  overflow: scroll;
  border-radius: 30px;
  text-align: center;
  color: rgb(199, 199, 199);
  text-transform: capitalize;
  text-indent: 20px;
}
/* article end */

/* footer start */
div.footer {
  height: 40px;
  display: block;
  background-color: #000000;
  text-align: center;
  color: #ffc400;
  padding: 9px;
}
/* footer end */
