* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body home page start */
div.first {
  width: 100%;
  height: 100vh;
  background-image: url(../picture/pic3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

div.first p {
  height: auto;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  box-sizing: border-box;
  box-shadow: 5px 5px 20px;
  text-align: justify center;
  font-family: bebas;
}

div.second {
  width: 100%;
  height: 100vh;
  background-image: url(../picture/3q.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
div.second h2 {
  color: rgb(199, 199, 199);
  box-sizing: border-box;
  box-shadow: 5px 5px 5px;
  padding-top: 20px;
  font-family: bebas;
}

div.second p {
  background-color: rgba(0, 255, 255, 0.411);
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  box-shadow: 15px 15px 15px;
  border-radius: 20px;
  text-align: justify;
  padding: 30px;
  margin: 80px;
  font-family: bebas;
}

div.third {
  width: 100%;
  height: 100vh;
  background-image: url(../picture/img_198065_shutterstock_625264535_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

div.third h2 {
  color: rgb(199, 199, 199);
  box-sizing: border-box;
  box-shadow: 5px 5px 5px;
  padding-top: 50px;
  font-family: bebas;
}

div.third p {
  background-color: rgba(71, 71, 71, 0.534);
  color: rgb(199, 199, 199);
  box-sizing: border-box;
  box-shadow: 10px 10px 10px black;
  border-radius: 20px;
  text-align: justify;
  padding: 10px;
  margin: 50px;
  font-family: bebas;
}

div.fourth {
  width: 100%;
  height: 100vh;
  background-image: url(../picture/pic1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

div.fourth h2 {
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  box-shadow: 5px 5px 5px;
  padding-top: 20px;
  font-family: bebas;
}

div.fourth h4 {
  background-color: #ffffffb4;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  margin: 60px;
  padding: 10px;
  font-family: bebas;
  font-size: medium;
}

div.fourth p {
  background-color: rgba(182, 182, 182, 0.664);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  box-shadow: 15px 15px 15px rgb(0, 0, 0);
  border-radius: 20px;
  text-align: justify;
  padding: 50px;
  margin: 80px;
  font-family: bebas;
}
/* body home page end */

/* footer start */
div.footer {
  height: 40px;
  display: block;
  background-color: #000000f9;
  text-align: center;
  color: #ffc400;
  padding: 9px;
  font-family: bebas;
}
/* footer end */
